ConsoleApp31/Sample.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="value">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="type" type="xs:string" />
        <xs:element maxOccurs="unbounded" name="product_ids" type="xs:string" />
        <xs:element maxOccurs="unbounded" name="channels">
          <xs:complexType mixed="true">
            <xs:sequence minOccurs="0">
              <xs:element name="name" type="xs:string" />
              <xs:element maxOccurs="unbounded" name="product_ids" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>